.item {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.description{
  padding-left: 50px;
  padding-right: 50px;
}
.image {
  display: flex;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  justify-content: center;
}

.image img {
  height: auto;
  max-height: 500px;
  max-width: 600px;
  object-fit: cover;
  border-radius: 40px;
  margin-top: 40px;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content p {
  margin-bottom: 0px;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: rgb(41, 41, 233);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

.card {
  background-color: rgba(33, 169, 248, 0.301);
  margin-bottom: 50px;
  border-radius: 40px;
  width: 1000px;
}
